*{
    margin: 0px;
}

body 
{
    margin: 0px;
    font-family: "Muli", sans-serif;
    background: url(../img/404.jpg);
    background-size: cover;
}

body img 
{
    position: absolute;
    top: 12%;
    left: 4%;
}

h1  
{
    margin: 0px;
}

.error
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(70vh - 100px);
    width: 100%;
}

.error2
{
    text-align: center;
    color: #330d14;
}

h1 {
    font-size: 110px;
}

p {
    font-size: 30px
}	
.animated
{
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes bounce
{
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40%{transform: translateY(-30px);}
    60%{transform: translateY(-15px);}
}

.bounce 
{
    animation-name: bounce;
}

.footer
{
    display: flex;
    align-items: center;
    min-height: 100%;
    width: 20%;
}

.footer a 
{
    color: #330d14;
    cursor: pointer;
    font-family: 'Shadows Into Light';
    font-size: 30px;
    padding-left: 20px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;


}



.footer a:hover
{
    text-decoration: underline;
}

@media only screen and (max-width: 600px) 
{ .footer{
      background-color: #fff; 
      align-items: flex-start;
      flex-direction: column;
  }

}