<html>
  <head>
    <title>Informe Ventas</title>
    <meta content="">
    <link rel="icon" href="../img/logo2.png">
    <link rel="stylesheet" href="../css/diseñoInfVenta.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style></style>
    <script type="text/javascript">
    (function(document) {
      'use strict';

      var LightTableFilter = (function(Arr) {

        var _input;

        function _onInputEvent(e) {
          _input = e.target;
          var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
          Arr.forEach.call(tables, function(table) {
            Arr.forEach.call(table.tBodies, function(tbody) {
              Arr.forEach.call(tbody.rows, _filter);
            });
          });
        }

        function _filter(row) {
          var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
          row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
        }

        return {
          init: function() {
            var inputs = document.getElementsByClassName('light-table-filter');
            Arr.forEach.call(inputs, function(input) {
              input.oninput = _onInputEvent;
            });
          }
        };
      })(Array.prototype);

      document.addEventListener('readystatechange', function() {
        if (document.readyState === 'complete') {
          LightTableFilter.init();
        }
      });

    })(document);
    </script>
  </head>
  <body>

    <header>
            <div class="contenedorSuperior">
                <div class="espacio">
                       <div class="logo">
                           <img src="../img/logo.png">
                    </div>
                </div>
                <section class="wrapper">
                    <nav>
                        <ul class="menu" style="background-color: #fff;">
                           
                            <li><a th:href="@{/administrador}">VOLVER <i class="fas fa-sign-in-alt"></i></a></li>
                        </ul>
                    </nav>
                </section>
                
            </div>
        </header>
        <div class="titulo">   </div>

    <div class="container">
      <div style="height:50px"></div>
      <h1> INFORME DE VENTA </h1>
      <p class="lead">
      <h3>Datos Cliente</h3>
      
      <input class="form-control col-md-3 light-table-filter" data-table="order-table" type="text" placeholder="Buscar..">
      <hr>
	<title>Estado Ventas</title>
</head>
<body>
	<table class="table table-bordered order-table " style="width:100%">
        <thead>
            <tr>
                <th>ESTADO</th>
                <th>TIPO</th>
                <th>ID</th>
                <th>CLIENTE</th>
                <th>FECHA-HORA</th>
                <th>PRECIO</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>cancelado</td>
                <td>cc</td>
                <td>10329345</td>
                <td>Sara Rodriguez</td>
                <td>16/10/2021-02:00 pm</td>
                <td>40.000</td>
            </tr>
            <tr>
                <td>cancelado</td>
                <td>cc</td>
                <td>17511102</td>
                <td>Esther Ortiz</td>
                <td>	16/10/2021-02:00 pm</td>
                <td>30.000</td>
            </tr>
            <tr>
                <td>cancelado</td>
                <td>cc</td>
                <td>1014201</td>
                <td>Angie Torres</td>
                <td>13/05/2021-02:00 pm</td>
                <td>$86.000</td>
            </tr>
            <tr>
                <td>cancelado</td>
                <td>cc</td>
                <td>1001120</td>
                <td>Carlos Mora</td>
                <td>	14/05/2021-05:00 pm</td>
                <td>10.000</td>
            </tr>
            <tr>
                <td>espera</td>
                <td>cc</td>
                <td>11322125</td>
                <td>Santiago Peñaloza</td>
                <td>30/04/2021-02:00 pm</td>
                <td>50.000</td>
            </tr>
            <tr>
                <td>cancelado</td>
                <td>cc</td>
                <td>124521242</td>
                <td>Felipe Palacios</td>
                <td>20/02/2021-06:00 pm</td>
                <td>18.000</td>
            </tr>
            <tr>
                <td>cancelado</td>
                <td>cc</td>
                <td>21545421</td>
                <td>Oscar Gonzales</td>
                <td>27/10/2021-04:00 pm</td>
                <td>27.000</td>
            </tr>
            <tr>
                <td>espera</td>
                <td>cc</td>
                <td>142110121</td>
                <td>Simon ortiz</td>
                <td>20/05/2021-11:00 am</td>
                <td>36.000</td>
            </tr>
            <tr>
                <td>cancelado</td>
                <td>cc</td>
                <td>1216326</td>
                <td>Daniela Rayo</td>
                <td>	01/01/2021-05:00 pm</td>
                <td>26.000</td>
            </tr>
            
            <tr>
                <td>cancelado</td>
                <td>cc</td>
                <td>15564243</td>
                <td>Angel Torres</td>
                <td>16/10/2021-02:00 pm</td>
                <td>80.000</td>
            </tr>
            <tr>
                <td>cancelado</td>
                <td>cc</td>
                <td>19475945</td>
                <td>Daniel Rodriguez</td>
                <td>16/10/2021-02:00 pm</td>
                <td>40.000</td>
            </tr>
            <tr>
                <td>cancelado</td>
                <td>cc</td>
                <td>1038295</td>
                <td>Xiomara Martinez</td>
                <td>16/10/2021-02:00 pm</td>
                <td>30.000</td>
            </tr>
            
    </table>
    
      <!-- footer -->

   <footer class="site-footer">
      <div class="container">
        <div class="row">
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2022 | Todos los derechos reservados
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>
    
	
</body>
</html>