<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>PRODUCTOS</title>

        <link rel="stylesheet" th:href="@{/css/diseño_productos.css}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
        <script src="https://kit.fontawesome.com/4d9590b635.js" crossorigin="anonymous"></script>
        <link rel="icon" href="../img/logo2.png">
        <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="jquery-3.2.1.js"></script>
        <script src="script.js"></script>
    </head>
    <body> 
        <header>
            <div class="contenedorSuperior">
                <div class="espacio">
                    <div class="logo">
                        <a ><img src="../img/logo.png"></a>
                    </div>
                </div>
                <section class="wrapper">
                    <nav>
                        <ul class="menu">
                            <li><a th:href="@{/ayuda_pago}">METODOS PAGO</a>
                            </li>
                            <li><a th:href="@{/}">NOSOSTROS</a>
                            </li>
                            <li><a th:href="@{/}">VOLVER <i class="fas fa-sign-in-alt"></i></a></li>

                            <li><a th:href="@{/}"><i class="bi bi-cart2"></i></a></li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">

                            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                            </svg>
                            
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket3" viewBox="0 0 16 16">
  <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM3.394 15l-1.48-6h-.97l1.525 6.426a.75.75 0 0 0 .729.574h9.606a.75.75 0 0 0 .73-.574L15.056 9h-.972l-1.479 6h-9.21z"/>
</svg>
                        </ul>
                    </nav>
                </section>

            </div>
        </header>
        <div class="titulo">   </div>


        <br>
        <br>
        <br>

        <p>
        </div>

    <div class="wrap">
        <h1>Escoge un producto</h1>
        <div class="store-wrapper">
            <div class="category_list">
                <a href="#" class="category_item" category="all">Todo</a>
                <a href="#" class="category_item" category="desayuno">Desayunos</a>
                <a href="#" class="category_item" category="peluches">Peluches</a>
                <a href="#" class="category_item" category="anchetas">Anchetas</a>
                <a href="#" class="category_item" category="decoracion">Decoración</a>
                <a href="#" class="category_item" category="carteles">Carteles</a>
            </div>
            <section class="products-list">
                <div class="product-item" category="desayuno">
                    <img src="../img/desyuno1.jpg" alt="" >
                    <a href="#">Desayuno Rosa</a>
                </div>
                <div class="product-item" category="desayuno">
                    <img src="../img/desyuno2.jpg" alt="" >
                    <a href="#">Desayuno Oro</a>
                </div>
                <div class="product-item" category="desayuno">
                    <img src="../img/desayuno3.jpg" alt="" >
                    <a href="#">Desayuno Floral</a>
                </div>
                <div class="product-item" category="desayuno">
                    <img src="../img/ancheta10.jpeg" alt="" >
                    <a href="#">Desayuno Frutas</a>
                </div>
                <div class="product-item" category="peluches">
                    <img src="../img/peluche1.jpg" alt="" >
                    <a href="#">Peluche Elefante</a>
                </div>
                <div class="product-item" category="anchetas">
                    <img src="../img/ancheta3.jpeg" alt="" >
                    <a href="#">Ancheta</a>
                </div>
                <div class="product-item" category="anchetas">
                    <img src="../img/ancheta17.jpg" alt="" >
                    <a href="#">Ancheta</a>
                </div>
                <div class="product-item" category="anchetas">
                    <img src="../img/ancheta4.jpeg" alt="" >
                    <a href="#">Ancheta</a>
                </div>
                <div class="product-item" category="anchetas">
                    <img src="../img/ancheta1.jpeg" alt="" >
                    <a href="#">Ancheta</a>
                </div>
                <div class="product-item" category="carteles">
                    <img src="../img/cartel1.jpg" alt="" >
                    <a href="#">Cartel Te amo</a>
                </div>
                <div class="product-item" category="carteles">
                    <img src="../img/cartel2.jpg" alt="" >
                    <a href="#">Cartel Mi vida</a>
                </div>
                <div class="product-item" category="carteles">
                    <img src="../img/cartel3.jpg" alt="" >
                    <a href="#">Cartel Hija</a>
                </div>
                <div class="product-item" category="peluches">
                    <img src="../img/peluche2.jpg" alt="" >
                    <a href="#">Peluches Up</a>
                </div>
                <div class="product-item" category="decoracion">
                    <img src="../img/decoracionAstro.jpg" alt="" >
                    <a href="#">Deco Astronautas</a>
                </div>
                <div class="product-item" category="decoracion">
                    <img src="../img/decoracionPaw.jpg" alt="" >
                    <a href="#">Deco Paw Patrol</a>
                </div>
                <div class="product-item" category="decoracion">
                    <img src="../img/decoracionNube.jpg" alt="" >
                    <a href="#">Deco Nubes</a>
                </div>
                <div class="product-item" category="peluches">
                    <img src="../img/peluche3.jpg" alt="" >
                    <a href="#">Peluche Me gustas</a>
                </div>
            </section>
        </div>
    </div>

    <!-- footer -->

    <footer class="site-footer">
        <div class="container">
            <div class="row">
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2022 | Todos los derechos reservados
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
                    </ul>
                </div>
            </div>
        </div>
    </footer>


</body>
</html>