<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/recupEstilo.css">
	<link rel="icon" href="../img/logo (1).png">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 
	<title>RECUPERAR CONTRASEÑA</title>
</head>
<body>

	<!-- barra de navegacion -->
	    <header>
			<div class="contenedorSuperior">
		   	 	<div class="espacio">
		   	 		<div class="logo">
			   			<img src="../img/logo.png">
			   		</div>
		   		</div>
				<div class="logosis">
					<p>Shosai SYS</p>
				</div>
			    <div class="espacio">
					<a href="#"><i class="fas fa-home"></i></a>
					<a href="#"><i class="fas fa-sign-out-alt"></i></a>
				</div>
			</div>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
			  <div class="container-fluid">
			    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			    </button>
			    <div class="collapse navbar-collapse" id="navbarSupportedContent">
			      <ul class="navbar-nav opt-txt">
			      	<li class="nav-item dropdown">
			      		<a class="nav-link" href="../html/pagprincipal.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><h5><i class="fas fa-shopping-cart"></i> INICIO </h5></a>

				    <li class="nav-item dropdown">
				        <a class="nav-link opt-txt" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				      	<h5><i class="fas fa-glass-cheers"></i> PRODUCTOS</h5>
			            </a>
			        </li>
				    <li class="nav-item dropdown">
				        <a class="nav-link opt-txt" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				         	<h5><i class="fas fa-gifts"></i> RESERVACIONES</h5>
			            </a>
			            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
			               <li><a class="dropdown-item" href="productos.html">Ver productos</a></li>
			               <li><a class="dropdown-item" href="soliPro.html">Solicitar producto</a></li>
			            </ul>
				    </li>

				    <li class="nav-item dropdown">
				        <a class="nav-link opt-txt" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				      	<h5><i class="fas fa-glass-cheers"></i> ¿QUIENES SOMOS? </h5>
			            </a>
			        </li>

			        <li class="nav-item dropdown">
				        <a class="nav-link opt-txt" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				      	<h5><i class="fas fa-glass-cheers"></i> CONTACTENOS </h5>
			            </a>
			        </li>

			        <li class="nav-item dropdown">
				        <a class="nav-link opt-txt" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				         	<h5><i class="fas fa-gifts"></i> INGRESO </h5>
			            </a>
			            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
			               <li><a class="dropdown-item" href="../html/inicio.html">Login</a></li>
			               <li><a class="dropdown-item" href="../html/registro_admi.html">Registrarse</a></li>
			            </ul>
				    </li>
				  </ul>
			   	</div>
			  </div>
			</nav>
		</header>




	<form action="#" class="form">
		<h2 class="form-titulo">Recuperar contraseña</h2>
		<center><p>Esta pregunta permite demostrar que realmente eres propietario de esta cuenta</p></center>
		
		<div class="contenedor">

			<input type="text" name="Nombres" placeholder="Nombres" required class="input-50">

			<input type="text" name="Apellidos" placeholder="Apellidos" required class="input-50">

			<input type="email" name="Correo" placeholder="Correo" required class="input-100">

			<p><center>se envio un correo electronico con un código de verificación</center></p>

			<input type="text" name="ingrese cogigo" placeholder="ingrese codigo" required class="input-100">

		
			<input type="reset" value="Cancelar" class="boton">
			
			<!-- Botones -->
			<input type="submit" value="Siguente" class="boton">

			</p>
		</div>
	</form>



	<!-- footer -->

<footer>
			<div id="container">
             <div id="part1">
             <div id="companyinfo"> <a id="sitelink" href="#">Inspira</a>
                 <p id="title">Regalos, eventos y más</p>
                 <p id="detail">Somos especialistas en la elaboración de regalos, desayunos sorpresa y creación de eventos.</p>
             </div>
             <div id="explore">
                 <p id="txt1">Explora</p> <a class="link" href="#">Home</a> <a class="link" href="#">Servicios</a> <a class="link" href="#">Reservaciones</a> <a class="link" href="#">Compras</a>
             </div>
             <div id="visit">
                 <p id="txt2">Visitanos</p>
                 <p class="text">Colombia-Bogotá</p>
                 <p class="text">La Aurora, Usme</p>
                 <p class="text">69f Sur2 Tv. 3c, Bogotá</p>
                 <p class="text">Teléfono: 3208861340</p>
                 <p class="text">Horarios: Lunes a Domingo</p>
             </div>
             <div id="legal">
                 <p id="txt3">Legal</p> <a class="link1" href="#">Terms and Conditions</a> <a class="link1" href="#">Private Policy</a>
             </div>
             <div id="subscribe">
                 <p id="txt4">Subscribe to US</p>
                 <form> <input id="email" type="email" placeholder="Email"> </form> <a class="waves-effect waves-light btn">Subscribe</a>
                 <p id="txt5">Connect With US</p> <i class="fab fa-facebook-square social fa-2x"></i> <i class="fab fa-linkedin social fa-2x"></i> <i class="fab fa-twitter-square social fa-2x"></i>
             </div>
         </div>
         <div id="part2">
             <p id="txt6"><i class="material-icons tiny">copyright</i>2021- All right reserved     Yurley Loaiza, Camilo Goméz, Mariana Mahecha</p>

         </div>
     </div>
		</footer>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
	
</body>
</html>